
@if (mmobToggle) {
<!-- <div class="menu">
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/home">About</a></li>
    <li><a routerLink="/home">Find</a></li>
    <li><a routerLink="/home">Login</a></li>
    <li><a routerLink="/home">Sign Up</a></li>
  </ul>
</div>
} 
@else { -->
  <button class="menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
    <mat-icon>list</mat-icon>
  </button>
  <mat-menu #menu="matMenu" >
    <button mat-menu-item>
      <mat-icon>home</mat-icon>
      <span><a routerLink="/home">Home</a></span>
    </button>
    <button mat-menu-item>
      <mat-icon>search</mat-icon>
      <span><a routerLink="/home">Find</a></span>
    </button>
    <button mat-menu-item>
      <mat-icon>fingerprint</mat-icon>
      <span><a routerLink="/home">Login</a></span>
    </button>
    <button mat-menu-item>
      <mat-icon>phonelink_setup</mat-icon>
      <span><a routerLink="/home">Sign Up</a></span>
    </button>
    <button mat-menu-item>
      <mat-icon>file_copy</mat-icon>
      <span><a routerLink="/home">About</a></span>
    </button>
  </mat-menu>
}
<!-- <div class="circle show-menu" (click)="toggler()">☰</div> -->

@if (isMobile) {
  <a mat-list-item routerLink="/home">
  <span class="entry">
      <mat-icon>house</mat-icon>
      <span>Home</span>
  </span>
  </a>
  <a mat-list-item  routerLink="/find-business">
      <span class="entry">
          <mat-icon>search</mat-icon>
          <span>Find</span>
      </span>
  </a>

  @if (auth.isLoggedOut$ | async) {
      <a mat-list-item routerLink="/login">
          <span class="entry">
              <mat-icon>fingerprint</mat-icon>
              <span>Login</span>
          </span>
      </a>
  } @else if (auth.isLoggedIn$ | async) {
      <a mat-list-item routerLink="/home" (click)="logout()">
          <span class="entry">
              <mat-icon>lock</mat-icon>
              <span>Logout</span>
          </span>
      </a>
      @if (auth.user$ | async; as user) {
      <a mat-list-item routerLink="/dashboard/{{user.u_username}}">
          <span class="entry">
              <mat-icon>dashboard</mat-icon>
              <span>DashBoard</span>
          </span>
      </a>
  }
  }
  @if (auth.isLoggedOut$ | async) {  
      <a mat-list-item routerLink="/signup">
          <span class="entry">
              <mat-icon>phonelink_setup</mat-icon>
              <span>Sign Up</span>
          </span>
      </a>
  }   
  <a mat-list-item routerLink="/about">
      <span class="entry">
          <mat-icon>file_copy</mat-icon>
          <span>About</span>
      </span>
  </a>
  <hr>
  <a mat-list-item routerLink="/style-guide">
      <span class="entry">
          <mat-icon>settings_system_daydream</mat-icon>
          <span>Style Guide</span>
      </span>
  </a>
} @else { 
  <a mat-list-item routerLink="/home" (click)="testButton()">
      <span class="entry">
          <mat-icon>house</mat-icon>
      @if (!isCollapsed) {
          <span>Home</span>
      }
      </span>
  </a>
  <a mat-list-item routerLink="/find-business">
      <span class="entry">
          <mat-icon>search</mat-icon>
      @if (!isCollapsed) {
          <span>Find</span>
      }
      </span>
  </a>
  <!-- <a mat-list-item routerLink="/login">
      <span class="entry">
          <mat-icon>fingerprint</mat-icon>
      @if (!isCollapsed) {
          <span>Login</span>
      }
      </span>
  </a> -->
  
  @if (auth.isLoggedOut$ | async) {
      <a mat-list-item routerLink="/login">
          <span class="entry">
              <mat-icon>fingerprint</mat-icon>
              @if (!isCollapsed) {
                  <span>Login</span>
              }
          </span>
      </a>
  } @else if (auth.isLoggedIn$ | async) {
      <a mat-list-item routerLink="/home" (click)="logout()">
          <span class="entry">
              <mat-icon>lock</mat-icon>
              @if (!isCollapsed) {
                  <span>Logout</span>
              }
          </span>
      </a>
      <a mat-list-item routerLink="/dashboard/{{user}}">
          <span class="entry">
              <mat-icon>dashboard</mat-icon>
              @if (!isCollapsed) {
                  <span>Dashboard</span>
              }
          </span>
      </a>
  }
  @if (auth.isLoggedOut$ | async) {  
      <a mat-list-item routerLink="/signup">
          <span class="entry">
              <mat-icon>phonelink_setup</mat-icon>
          @if (!isCollapsed) {
              <span>Sign Up</span>
          }
          </span>
      </a>
  }    
  <a mat-list-item routerLink="/about">
      <span class="entry">
          <mat-icon>file_copy</mat-icon>
      @if (!isCollapsed) {
          <span>About</span>
      }
      </span>
  </a>
  <hr>
  <a mat-list-item routerLink="/style-guide">
      <span class="entry">
          <mat-icon>settings_system_daydream</mat-icon>
      @if (!isCollapsed) {
          <span>Style Guide</span>
      }
      </span>
  </a>
}