/* ========================================== CALENDAR ATTEMPT 3 */
@fontface {
    font-family: 'ChapazaItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Chapaza Italic'), url('/assets/fonts/ChapazaItalic.ttf') format('truetype');
}

.disabledButton {
    color: var(--accent2);
    visibility: hidden;
}
  

#calFont {
    font-family: 'Chapaza Italic', Courier, monospace;
    font-size: 2rem;
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.calContent {
    background-color: var(--accent2);
    padding: 2rem;
    border-radius: 25px;
}

.navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.calDate {
    border: none;
    transition: all 0.5s ease-in-out;
    background-color: none;
    border-radius: 25px;
    box-shadow: none;
    
    padding: 0;
    margin: 0;
}

.calDate:hover {
    background-color: var(--accent);
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.calDate:active {
    box-shadow: -2px -2px -5px rgba(0, 0, 0, 0.75);
}

.calButtonRight {
    border: none;
    transition: all 0.25s ease;
    color: white;
    background-color: var(--accent);
    border-radius: 25px;
    box-shadow: none;
    position: relative;
    padding: 0;
    margin: 0;
}


.calButtonRight:hover {
    background-color: var(--accent);
    border-radius: 45px;
    border-left: 10px solid var(--accent2);
}

.calButtonLeft {
    border: none;
    transition: all 0.5s ease;
    color: white;
    background-color: var(--accent);
    border-radius: 25px;
    box-shadow: none;
    padding: 0;
    margin: 0;
}


.calButtonLeft:hover {
    background-color: var(--accent);
    color: white;
    border-radius: 45px;
    border-right: 10px solid var(--accent2);
}


.calButtonLeft {
    border-radius: 25px 0 0 25px ;
    
}

.calButtonRight {
    border-radius: 0 25px 25px 0;
}

.calButtonRight:active {
    box-shadow: -2px -2px -5px rgba(0, 0, 0, 0.75);
    background-color: var(--accent2);
}

.calButtonLeft:active {
    box-shadow: -2px -2px -5px rgba(0, 0, 0, 0.75);
    background-color: var(--accent2);
}

.dateSelectRow button{
    width: 100%;
}

.month {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.weekdays {
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    gap: 15px 15px;
    aspect-ratio: 1;
}
/* 

.days {
    width: 55px;
    height: 55px;

}

.days button {
    width: 100%;
    height: 100%;

} */

.divlines {
    border: 5px solid black;
}

.divlines div {
    border: 5px solid black;
}

.weekdays {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dayColumn {
    display: flex;
    flex-direction: column;
}

.centerText {
    text-align: center;
}

.gridIt {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Adjust as needed */
    text-align: center;
}

.padItSides {
    padding: 0 2rem;
}

.staticWidthSm {
    width: 75px;
}

.staticWidthMid {
    width: 195px;
}

.staticWidthLg {
    width: 100%;
}

.fullwide {
    width: 100%;
}

.fullhigh {
    height: 100%
}

.flexCol {
    display: flex;
    flex-direction: column;
}



.liChange {
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pointer {
    cursor: pointer;
}  

.selected-circle {
    border-radius: 50%; /* Make it circular */
    justify-self: center;
    border: 4px solid var(--primary);
    width: 100%;
    height: 100%;
  }

