@if (loading) {
    <app-loading></app-loading>
}

@if (!loading) {

    @if (zipFieldSelected) { 
        <div>
            <app-zip-search
            [zip]="zipList"
            (zipSelected)="applyFilters({ zip: $event })"
            (click)="onSearchSelected()"
            ></app-zip-search> 
            
            
        </div>
    } 
    <ng-container>
        @if (cityFieldSelected) { 
            <ng-container >
                <app-city-search
                    [cities]="cityList"
                    (citySelected)="applyFilters({ city: $event })"
                    (click)="onSearchSelected()"
                ></app-city-search>
        
            </ng-container>
        } 
    </ng-container> 

    @if (categories.length > 0) {
        <div>
            <app-service-search
                [categories]="categories"
                (servicesSelected)="applyFilters({ selectedServices: $event })"
            ></app-service-search>
        </div>
    }
  

 <div >
    <app-refine-search-menu
    [list2Sort]="businessListFiltered"
    (filterByNameChange)="applyFilterByName($event)"
    (ratingFilterChange)="applyRatingFilter($event)"
    (showActiveOnlyChange)="applyShowActiveOnly($event)"
  >
  </app-refine-search-menu>

    <p>{{ businessListFiltered.length }} Businesses Found</p>
   
    @for (b of businessListFiltered; track $index) {
        <div>
            <mat-accordion>
            <mat-expansion-panel style="display: flex; flex-direction:column; justify-content: space-between;">
                <mat-expansion-panel-header >
                <h1>{{ b.b_name }} - {{b.b_id}}</h1>
                <p>Rating: {{ b.b_rating }}</p>
                </mat-expansion-panel-header>
                <mat-panel-description>
                
                </mat-panel-description>
                <div>
                <div>
                    <p>{{ b.b_phone }}</p>
                    <p>{{ b.b_email }}</p>
                    <p>{{ b.b_website }}</p>
                    <div>
                        {{ b.b_services }}
                    </div>
                    <div>
                    <h3>Address</h3>
                    <p>{{ b.b_street }}</p>
                    <p>{{ b.b_city }}</p>
                    <p>{{ b.b_state }}</p>
                    <p>{{ b.b_zip }}</p>
                    </div>
                    <button mat-raised ><a routerLink="/business-profile/">Go to Business Page</a></button>
                </div>
                </div>
            </mat-expansion-panel>
            </mat-accordion>
            <br>
            <br>
        </div>
    }    
</div>
@if (selectedZip && businessListFiltered.length === 0) {  
    <h2>No businesses found in database</h2>
}
}

