<br>
<mat-form-field>
  <mat-label>Filter by Rating</mat-label>
  <mat-select matNativeControl [(value)]="sortRating" >
    <mat-option [value]="5" (click)="onRatingFilterChange()">⭐⭐⭐⭐⭐</mat-option>
    <mat-option [value]="4" (click)="onRatingFilterChange()">⭐⭐⭐⭐➕</mat-option>
    <mat-option [value]="3" (click)="onRatingFilterChange()">⭐⭐⭐➕</mat-option>
    <mat-option [value]="2" (click)="onRatingFilterChange()">⭐⭐➕</mat-option>
    <mat-option [value]="1" (click)="onRatingFilterChange()">⭐➕</mat-option>
  </mat-select>
  @if (sortRating !== 0) {
    <button  matSuffix mat-icon-button aria-label="Clear" (click)="sortRating=0;">
          <mat-icon>close</mat-icon>
     </button>
    }
</mat-form-field>
<br>

<mat-slide-toggle class="slide_toggle" (change)="onShowActiveOnlyChange()" [checked]="sortActiveOnly">See Active Business Only</mat-slide-toggle>
<br>
<br>
<mat-slide-toggle class="slide_toggle" (change)="onFilterByNameChange()" [checked]="sortName">Sort by Name</mat-slide-toggle>   
