<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Search by Zipcode
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>Enter Zipcode</mat-label>
        <input matInput
            (formControl)="myControl"
            [matAutocomplete]="auto"
            (click)="onZipSelected($event.target.value)"
            (input)= "onZipSelected($event.target.value)"
        >
        <mat-autocomplete #auto (optionSelected)="onOptionSelected($event)">
            @for (zip of zipListFiltered; track $index) {
              <mat-option [value]="zip">
                {{ zip }}
              </mat-option>
            }
          </mat-autocomplete>
    </mat-form-field>
  </mat-expansion-panel>
  
  </mat-accordion>