<div class="avatar-container">
    @if (busPicData.b_profImage) {
        <img class="business_profile_image" 
            [ngClass]="{'box-shadow-avatar': !!file}"
            [ngStyle]="{backgroundImage: 'url(' + file + ')'}"  
            src={{busPicData.b_profImage}} alt="userProf">
    
    } @else {
    
        @if (file !=='') {
            <div class="image-container" 
                [ngClass]="{'box-shadow-avatar': !!file}"
                [ngStyle]="{backgroundImage: 'url(' + file + ')'}">
            </div> 
        } @else {   
            <div #placeholder>
                <div class="image-container avatar-placeholder">
                </div>
            </div>
        }
    } 


    <label for="avatar-input-file">
        <div class="icon-wrapper">
            <input type="file" id="avatar-input-file" accept="image/*" (change)="onFileChange($event)" />
            <mat-icon class="icon" fontIcon="edit"></mat-icon>
        </div>
    </label>

</div>