
@if (Loading) {
  <app-loading></app-loading>
} @else {
  <h1>My Favorite Businesses</h1>
  @for (b of activeFavorites; track $index) {
    
    <mat-card>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h2>{{b.b_name}}</h2>  
          </mat-expansion-panel-header>
          <button mat-button-raised routerLink="/business-profile/{{b.b_id}}">Go to {{b.b_name}}</button>


        </mat-expansion-panel>  
      </mat-accordion>
      
    </mat-card>
  }
  

}
