
@if (Loading) {
  <app-loading></app-loading>
} @else {
<h1>My Favorite Businesses</h1>

@for (b of activeFavorites; track $index) {
  @if (b.sub_active) {
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ b.b_name }} {{ b.b_rating }} ACTIVE</mat-card-title>
        </mat-card-header> 
        <mat-card-content>
            <mat-expansion-panel >
                <mat-expansion-panel-header>Details</mat-expansion-panel-header>
                <button mat-raised-button color="warn">Remove</button>
            </mat-expansion-panel> 
        </mat-card-content>
    </mat-card>    
  } 
}

@if (inactiveFavorites) {
  <h1>History</h1>
  @for (ib of inactiveFavorites; track $index) {
    @if (!ib.sub_active) {
      <mat-card>
          <mat-card-header>
              <mat-card-title>{{ ib.b_name }} {{ ib.b_rating }} ACTIVE</mat-card-title>
          </mat-card-header> 
          <mat-card-content>
              <mat-expansion-panel >
                  <mat-expansion-panel-header>Details</mat-expansion-panel-header>
                  <button mat-raised-button color="warn">Remove</button>
              </mat-expansion-panel> 
          </mat-card-content>
      </mat-card>    
    } 
  }
}
}