<header>
    <a routerLink="/home">
        <div class="header_logo">
            <h1>Logo</h1>
        </div>
    </a>
        <div class="spacer_nuetral">
        </div>
        <div id="header_StellaVi">
            <h1><a routerLink="/home">Stella Vi</a></h1>
    
        </div>
    <!-- <mat-toolbar color="primary"> -->
        <button class="hambStack" mat-icon-button aria-label="Menu icon" (click)="toggleMenuBoy()">
          <mat-icon>menu</mat-icon>
        </button>
    <!-- </mat-toolbar> -->
    
</header>


<mat-sidenav-container autosize>

    <mat-sidenav 
                [mode]="isMobile ? 'over' : 'side'" 
                [opened]="isMobile ? 'false' : 'true'"
                position="end" >
      <mat-nav-list>
        @if (isMobile) {
            <a mat-list-item routerLink="/home">
            <span class="entry">
                <mat-icon>house</mat-icon>
                <span>Home</span>
            </span>
            </a>
            <a mat-list-item  routerLink="/find-business">
                <span class="entry">
                    <mat-icon>search</mat-icon>
                    <span>Find</span>
                </span>
            </a>
            <a mat-list-item routerLink="/login">
                <span class="entry">
                    <mat-icon>fingerprint</mat-icon>
                    <span>Login</span>
                </span>
            </a>
            <a mat-list-item routerLink="/signup">
                <span class="entry">
                    <mat-icon>phonelink_setup</mat-icon>
                    <span>Sign Up</span>
                </span>
            </a>
            <a mat-list-item routerLink="/about">
                <span class="entry">
                    <mat-icon>file_copy</mat-icon>
                    <span>About</span>
                </span>
            </a>
            <hr>
            <a mat-list-item routerLink="/style-guide">
                <span class="entry">
                    <mat-icon>settings_system_daydream</mat-icon>
                    <span>Style Guide</span>
                </span>
            </a>
        } @else { 
            <a mat-list-item routerLink="/home" (click)="testButton()">
                <span class="entry">
                    <mat-icon>house</mat-icon>
                   @if (!isCollapsed) {
                    <span>Home</span>
                   }
                </span>
            </a>
            <a mat-list-item routerLink="/find-business">
                <span class="entry">
                    <mat-icon>search</mat-icon>
                   @if (!isCollapsed) {
                    <span>Find</span>
                   }
                </span>
            </a>
            <a mat-list-item routerLink="/login">
                <span class="entry">
                    <mat-icon>fingerprint</mat-icon>
                   @if (!isCollapsed) {
                    <span>Login</span>
                   }
                </span>
            </a>
            <a mat-list-item routerLink="/signup">
                <span class="entry">
                    <mat-icon>phonelink_setup</mat-icon>
                   @if (!isCollapsed) {
                    <span>Sign Up</span>
                   }
                </span>
            </a>
            <a mat-list-item routerLink="/about">
                <span class="entry">
                    <mat-icon>file_copy</mat-icon>
                   @if (!isCollapsed) {
                    <span>About</span>
                   }
                </span>
            </a>
            <hr>
            <a mat-list-item routerLink="/style-guide">
                <span class="entry">
                    <mat-icon>settings_system_daydream</mat-icon>
                   @if (!isCollapsed) {
                    <span>Style Guide</span>
                   }
                </span>
            </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  

<!-- <app-header></app-header>
<router-outlet></router-outlet>

<div></div>-->
<app-footer></app-footer> 
