.buttonGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.containerCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.buttonCont {
    grid-column: 1 / span 2;
    grid-row: 1 ; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(157, 173, 166, 0.50);
}

.calendarCont {
    grid-column: 1 ;
    grid-row: 2 /span 3 ;
    height: 350px;
}

.appointmentCont {
    padding: 0.5rem;
}