 <div class="DashCurrentContainer">
    
@if (!isLoading) {
  @if (!updateCheck) {
    <mat-card class="DashCurrentCard">
        <mat-card-header class="DashCurrentHeader">
            <mat-card-title class="DashCurrentTitle">Profile Information  </mat-card-title>
            <mat-card-subtitle class="DashCurrentSubtitle">Current</mat-card-subtitle>
            
            <label class="DashCurrentPriv">{{user.u_priv}}</label>
        </mat-card-header>
        <mat-card-content id="DashCurrentContent">
            <div class="DashCurrentImageCont">
                <img class="DashCurrentImage" src="https://i.pinimg.com/originals/f8/c6/b7/f8c6b794fda3fe6a49c868a230bea49a.jpg" alt="Keanu Reeves">
            </div>
            <div class="DashCurrentUserInfo">
                <h2>User Information</h2>
                <p class="DashCurrentName">Name:    {{user.u_fname}} {{user.u_lname}}</p>
                <p class="DashCurrentName">Email:    {{user.u_email}}</p>
                <p class="DashCurrentName">Phone:    ({{user.u_phone[0]}}{{user.u_phone[1]}}{{user.u_phone[2]}}) 
                                                      {{user.u_phone[3]}}{{user.u_phone[4]}}{{user.u_phone[5]}}-{{user.u_phone[6]}}{{user.u_phone[7]}}{{user.u_phone[8]}}{{user.u_phone[9]}} </p>
                <p class="DashCurrentName">Username:    {{user.u_username}}</p>
            </div>
            <hr>    
            <div class="DashCurrentUserAddress">
              @if (user.u_city === null ) {
                <H2>Consider completing your profile 
                  with Update
                </H2>
              } @else {
                <h2>Address</h2>
                <p class="DashCurrentAddress">{{user.u_street}}</p>
                <p class="DashCurrentAddress"> {{user.u_city}}, {{user.u_state}}</p>
                <p class="DashCurrentAddress"> {{user.u_zip}}</p>
              } 
            </div>
            
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button (click)="updateSwitch()">Update</button>
        </mat-card-footer>
    </mat-card>
} @else {
    <mat-card>
        <form class="Du_Prof_Form" [formGroup]="profileForm">
            <mat-form-field>
                <label for="first-name">First Name: </label>
                <input matInput id="first-name" 
                       name="first-name" 
                       type="text" 
                       formControlName="firstName"
                       value="{{user.f_name}}"
                       >
              </mat-form-field>
              
              <mat-form-field>
                <label for="last-name">Last Name: </label>
                <input matInput id="last-name" name="last-name" type="text" formControlName="lastName">
              </mat-form-field>
              
              <mat-form-field>
                <label for="u-email">Email: </label>
                <input matInput id="u-email" name="u-email" type="email" formControlName="u_email">
              </mat-form-field>

              <mat-form-field>
                <label for="u-phone">Phone: </label>
                <input matInput id="u-phone" name="u-phone" type="tel" formControlName="u_phone">
              </mat-form-field>
              
              <mat-form-field>
                <label for="u-username">Username: </label>
                <input matInput id="u-username" name="u-username" type="text" formControlName="u_username" readonly>
              </mat-form-field>
              
              <mat-form-field>
                <label for="u-street">Street: </label>
                <input matInput id="u-street" name="u-street" type="text" formControlName="u_street">
              </mat-form-field>
              
              <mat-form-field>
                <label for="u-city">City: </label>
                <input matInput id="u-city" name="u-city" type="text" formControlName="u_city">
              </mat-form-field>
              
              <mat-form-field>
                <label for="u-state">State: </label>
                <input matInput id="u-state" name="u-state" type="text" formControlName="u_state">
              </mat-form-field>
              
              <mat-form-field>
                <label for="u-zip">Zip: </label>
                <input matInput id="u-zip" name="u-zip" type="text" formControlName="u_zip">
              </mat-form-field>
            <mat-card-actions>
                <button id="subButton" mat-raised-button type="submit" (click)="onUpdateUserProf()">Update</button>
                <button mat-raised-button color="warn" (click)="updateSwitch()">Cancel</button>
            </mat-card-actions>
        </form>

    </mat-card>
}} @else {
  <app-loading></app-loading>
}


 </div>
 
<!--  

   -->