<div class="content-view">
    <h1>Login</h1>
</div>
<form class="example-form" #signForm>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. pat@example.com">
      <mat-hint></mat-hint>
      @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
      }
      @if (emailFormControl.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput matNativeControl type="password" name="logPass">
        <button  matSuffix 
        (click)="hidePass = !hidePass" 
        [attr.aria-label]="'hidePass password'" 
        [attr.aria-pressed]="hidePass">
        <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      @if (signForm.valid) {
        <h2>✅</h2>
      } @else {
        <h2>❌</h2>
      }
    <button mat-raised-button for="signForm" type="submit" minlength="8" [disabled]="!signForm.valid"> Login </button>
</form>
<p>or</p>
<button mat-raised-button>Sign Up</button>
<br>
<hr> 
<hr>  
<br>
<mat-card>
    @if (isLoading) {
        <app-loading></app-loading>
    }

    @if (!isLoading) {
        <div>
            <mat-card-header>Login</mat-card-header>
            <mat-card-content>
                <form #logForm (submit)="tbd" >
                    <mat-form-field>
                        <mat-label>E-mail</mat-label>
                        <input matInput email type="email" required >
                        <mat-error>Please enter a valid email address.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input type="password" matInput required minlength="6">
                    </mat-form-field>
                </form>
            </mat-card-content>
            @if (signForm.valid) {
                <h2>✅</h2>
              } @else {
                <h2>❌</h2>
              }
            <mat-card-actions>
                <button mat-raised-button 
                        type=submit
                        [disabled]="!logForm.valid"
                >Login</button>
            </mat-card-actions>
            <mat-card-footer>
                <p>Don't have an account?</p>
                <a routerLink="/signup">Sign Up!</a>
            </mat-card-footer>
        </div>   
    } 
</mat-card><!--  -->