
            @if (loading) {
                <app-loading></app-loading>
            } @else if (!featureRequests.has_reviews) {
                    <div>
                        <mat-card>
                            <p>{{featureRequests.message}}</p>
                        </mat-card>
                    </div>    
            } @else if (featureRequests.has_reviews) {
                @for (f of featureRequests.result; track $index) {
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{f.u_uname}} says:</mat-card-title> 
                            <mat-card-subtitle>{{f.u_id}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content><p>
                            "{{f.feedbackText}}""
                        </p>
                        <p>For route: {{f.route}}</p>
                        </mat-card-content>
                    </mat-card>
                }
                
            } 
