/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* FONTS */
@fontface {
    font-family: 'Chapaza';
    font-style: normal;
    font-weight: normal;
    src: local('Chapaza'), url('./assets/fonts/Chapaza.ttf') format('truetype');
}

@fontface {
    font-family: 'ChapazaItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Chapaza Italic'), url('./assets/fonts/ChapazaItalic.ttf') format('truetype');
}

:root {
    --primary-color: #9DADA6; /* Primary color */
    --primary-color2: #CC8B6A;
    --secondary-color: #DBC1B2; /* Secondary color */
    --secondary-color2: #B98B4F;
    --tertiary-color: #9D4E40; /* Tertiary color */
}


h1, h2, h3, h4 {
    font-family: "Chapaza", serif;
}

p {
    font-family: Roboto, serif;
}

/* CSS */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height:auto;
    position: relative;
}

html {
    overflow-x: hidden;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0; 
    font-family: Roboto, sans-serif;
}



img {
    margin: 0;
    padding: 0;
}

hr {
    width: 100%;
}
.menu {
    z-index: 100000;
}

.spacer_nuetral {
    display: none;
}

#logo_submark {
    display:none;
}

#logo_full {
    width: 250px;
}

#header_StellaVi {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
    
    .spacer_nuetral {
        visibility: hidden;
    }

    #logo_submark {
        visibility: visible;
    }
}

a {
    font-style: normal;
    text-decoration: none;
    color: black;
    transition: all;
    padding: 0.5rem;
    margin: .5rem;
    border-radius: 50%;
}
a:hover {
    background-color: var(--secondary-color2);
    transition-duration: 1s;
    border-radius: 0%;
}

li {
    padding: .5rem;
    overflow: visible;
}

header {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 164px;
}


.logo_main {
    margin: .5rem;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 25px 25px;
}

.spacer_nuetral {
    width: 5rem;
}

#header_StellaVi {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.scroll-icons-container {
    background-color: var(--primary-color);

    position: fixed;
    top: 164px; /* Adjust as needed based on your design */
    right: 0; /* Adjust as needed based on your design */
    z-index: 1000; /* Ensure it's above other content */
}

.bobbing {
    animation: bobbing 1s infinite alternate ease-in-out;
}

@keyframes bobbing {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(5px); /* Adjust the bobbing distance */
    }
}
/* 
mat-toolbar{
    position:fixed;
    top:0;
    z-index: 10;
    margin:0 0 1rem 0;
    padding:1rem;
    @media screen and (max-width: 600px) {
        visibility: hidden;
      }
} */

.hambStack {
    font-size: 2rem;
    padding: 0 1.75rem 0 0 ;
}


#mainSideNavContainer {
    height: calc(100vh - (headerHeight/4));
}


/* // Move the content down so that it won't be hidden by the toolbar */
#mainSideNav {
    /* padding-top: 3.5rem; */
    @media screen and (min-width: 600px) {
      /* padding-top: 4rem; */
    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    }
  }

/* // Move the content down so that it won't be hidden by the toolbar 
mat-sidenav-content{
     padding-top: 3.5rem; 
    @media screen and (min-width: 600px) {
        /* padding-top: 4rem; 
    }
}*/

/* .expanded {
    width: 250px;   
} */

/* a {
    display: flex;
    flex-direction: row;
  
    align-items: center;
    justify-content: flex-start;
  
    gap: 8px;
  
    min-width: 200px;
  
    padding: 16px;
  
    box-sizing: border-box;
  
    text-decoration: none;
    color: #000;
    border-radius: 4px;
  
    transition: background-color 75ms ease-out;
  
    /* // change overflowing text to ellipsis */
.text-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

&:hover {
    background-color: #deebff;
}

&.active {
    background-color: #c1daff;
    font-weight: bold;
    color: rgb(36, 82, 231);
}


.content {
    min-height: calc(100vh - (headerHeight + footerHeight));  /*Ensure content fills viewport height */
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1; /* Grow to fill remaining space */
}

.spinner_cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: relative; /* Position relative to parent container */
    bottom: 0; /* Stick to bottom of parent container */
    background-color: var(--primary-color2);
    height: 80px;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: small;
    box-sizing: border-box;
}


.footer_text {
    margin: 0;
    padding: 0 0 0 0.5rem;
}

.content {
    background-color: red;
}

#content2 {
    /* border: 8px solid black; 
    display: flex;
    flex-direction: column;*/
    min-height: calc(100vh - 80px - 164px);
    margin: 0;
    padding: 0;
    object-fit: cover;

}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: var(--primary-color2);
}

/* 
DASHBOARD ----------------------------------------------------------------------------------------

*/

.DashCurrentContainer {

}

.DashCurrentCard {
    
}

.DashCurrentHeader {
 display: flex;
 justify-content: space-between;
}

.DashCurrentTitle {

}

.DashCurrentSubtitle {

}

.DashCurrentImage {
    width: 12rem;
    border-radius: 15%;
    grid-row: 1/5;
    
}

#DashCurrentContent {
    display: flex;
    flex-direction: row;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    flex-wrap: wrap;
}

.DashCurrentImageCont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.DashCurrentName{
}


#subButton {
    background-color: var(--secondary-color2);
    color: white;
}